.service-request-model{
    font-family: 'Inter';
    width: 400px;
    margin: auto;
    .card{
        border-radius: 10px;
    }
    .card-header {
        background: linear-gradient(90deg, #9392C6 4.04%, #E2E2F7 100%), linear-gradient(90deg, #7EA3D1 4.04%, #C1E8F7 100%), #0039CB;
        border-radius: 10px 10px 0px 0px;
        text-align: center;
        display: flex;
        width: 100%;
        padding: 10px 0px;
        align-items: center;
        justify-content: space-between;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        text-align: center;   
        
        .back-icon{
            padding-left: 10px;
        }
        .delete-icon{
            padding-right: 10px;
        }
    }
    .card-body {
        padding: 10px;
        font-weight: 700;
        font-size: 12px;
        color: #000000;
        max-height: 400px;
        overflow-y: scroll;

            .address{
            .address-text{
                color: #AAACAF;
            }
        }
        .header-ser{
            font-weight: 400;
            font-size: 12px;
            color: #000000;
        }
        .emergncy-header {
            display: flex;
            justify-content: start;
            line-height: 4;
            select {
                background: no-repeat;
                border: none;
                color: #AAACAF;
                font-weight: 700;
                font-size: 13px;
                line-height: 15px;
                background: #FFF url(../../../assets/svg/angle-down.svg) right 30px center/11px 10px no-repeat;
                outline: none;
                height: auto;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .custom-select:focus {
                box-shadow: none;
            }
        }
        .textarea-map {
            width: 100%;
            margin-bottom: 15px;
            background: #EAEAEA;
            border: 1px solid #B0B0B0;
        }
    }
    .card-footer {
        padding: 0;
        button {
            background: #AAACAF;
            color: #fff;
            border: none;
            padding: 10px;
            text-align: center;
            width: 100%;
            font-weight: 600;
            font-size: 13px;
            border-radius: 0 0 10px 10px;
            background: linear-gradient(270deg, #D3AAD1 0%, #EAA1B9 89.44%), #FCB61F;
        }
    } 
    .input-pickup{
        width: 100%;
        padding: 3px;
        background: #EAEAEA;
        border: 1px solid #B0B0B0
    }
    .date-pickjer-doorstep{
        align-items: center;
    }
    .custom-control-label{
        line-height: 2;
    }
}
.cdk-overlay-container .mat-dialog-container {
    padding: 0 !important;
}

@media (min-width:365px)  and (max-width:425px)  {
    .service-request-model{
        width: 350px !important;
    }
}
@media screen and (max-width:365px) {
    .service-request-model{
        width: 310px !important;
    }
}
@media screen and (max-width:370px) {
    .label-type{
        font-size: 11px !important;
    }
}