<div class="sign-up-component pt-4">
    <div class="rounded mx-auto d-block">
      <img src="../../../assets/svg/signup-logo.svg" class="rounded mx-auto d-block" alt="Responsive image">
    </div>

    <div class="signup-texts px-4 py-2 text-center pt-5">
        <div class="signup">Welcome!</div>
        <div class="per-info">to Vsure</div>
    </div>
    <form class="login-form text-center border-light px-4 py-3 py-10" >

        <div class="button-part">
            <button mdbBtn type="button" class="col-12 z-depth-0 my-1 waves-effect sign-up" mdbWavesEffect>Chat Support</button>
            <button mdbBtn type="button" class="col-12 z-depth-0 my-1 waves-effect sign-up" mdbWavesEffect>Sign in / Sign up</button>
            <button mdbBtn type="button" class="col-12 z-depth-0 my-1 waves-effect sign-up" mdbWavesEffect>Services</button>
          </div>
        </form>
</div>
