<div class="select-service-page">
    <div class="py-2 text-center">
        Select Services
    </div>
    <div>
        Emergency & Non-Emergrncy Services           
        <div>
            <div class="div-flex pt-2 col-md-12 col-sm-12">
                <div class="grid mr-2 col-md-3 col-sm-3">
                    <img src="../../../assets/svg/select-service/toing.svg" class="rounded image-part d-block m-auto" alt="Responsive image">
                    <label>Toing Assistance</label>
                </div>
                <div class="grid mr-2 col-md-3 col-sm-3">
                    <img src="../../../assets/svg/select-service/flat-type.svg" class="rounded image-part d-block m-auto" alt="Responsive image">
                    <label>Flat Tyre Support</label>
                </div>
                <div class="grid col-md-3 col-sm-3">
                    <img src="../../../assets/svg/select-service/battery.svg" class="rounded image-part d-block m-auto" alt="Responsive image">
                    <label>Battery Support</label>
                </div>
            </div>
            <div class="div-flex pt-2 col-md-12 col-sm-12">
                <div class="grid mr-2 col-md-3 col-sm-3">
                    <img src="../../../assets/svg/select-service/key.svg" class="rounded image-part d-block m-auto" alt="Responsive image">
                    <label>Key Assistance</label>
                </div>
                <div class="grid mr-2 col-md-3 col-sm-3">
                    <img src="../../../assets/svg/select-service/wrong.svg" class="rounded image-part d-block m-auto" alt="Responsive image">
                    <label>Wrong Fuel</label>
                </div>
                <div class="grid col-md-3 col-sm-3">
                    <div></div>
                    <!-- <img src="../../../assets/svg/select-service/" class="rounded image-part d-block m-auto" alt="Responsive image"> -->
                    <label>Other services</label>
                </div>
            </div>
            <div class="div-flex pt-2 col-md-12 col-sm-12">
                <div class="grid mr-2 col-md-3 col-sm-3">
                    <img src="../../../assets/svg/select-service/pick-up.svg" class="rounded image-part d-block m-auto" alt="Responsive image">
                    <label>Pick up & Drop</label>
                </div>
                <div class="grid mr-2 col-md-3 col-sm-3">
                    <img src="../../../assets/svg/select-service/door-step.svg" class="rounded image-part d-block m-auto" alt="Responsive image">
                    <label>Doorstep Service</label>
                </div>
                <div class="grid col-md-3 col-sm-3">
                    <img src="../../../assets/svg/select-service/mechanical.svg" class="rounded image-part d-block m-auto" alt="Responsive image">
                    <label>Mechanical repair</label>
                </div>
            </div>
            <div class="div-flex pt-2 col-md-12 col-sm-12">
                <div class="grid mr-2 col-md-3 col-sm-3">
                    <img src="../../../assets/svg/select-service/car.svg" class="rounded image-part d-block m-auto" alt="Responsive image">
                    <label>Car Wash</label>
                </div>
                <div class="grid mr-2 col-md-3 col-sm-3">
                    <img src="../../../assets/svg/select-service/preventive.svg" class="rounded image-part d-block m-auto" alt="Responsive image">
                    <label>Preventive Maintenance Service</label>
                </div>
                <div class="grid col-md-3 col-sm-3">
                    <img src="../../../assets/svg/select-service/cashless.svg" class="rounded image-part d-block m-auto" alt="Responsive image">
                    <label>Cashless Insurance Claim</label>
                </div>
            </div>
            <div class="div-flex pt-2 col-md-12 col-sm-12">
                <div class="grid mr-2 col-md-3 col-sm-3">
                    <img src="../../../assets/svg/select-service/warranty.svg" class="rounded image-part d-block m-auto" alt="Responsive image">
                    <label>Warranty service request</label>
                </div>
                <div  class="grid hidden mr-2 col-md-3 col-sm-3"></div>
                <div  class="grid hidden col-md-3 col-sm-3"></div>
            </div>
        </div>
    </div>
</div>