<div class="approved-color-page">
    <div class="approved-color">
        <label class="pb-3 pt-2">Approved Colour</label>
        <div class="color-1"> Vehicle Details </div>
        <div class="color-2"> Vehicle Details </div>
        <div class="color-3"> Vehicle Details </div>
    </div>
    <div class="proposed-color mt-3">
        <label>Proposed Colour</label>
        <div class="color-4"> Vehicle Details </div>
        <div class="color-5"> Vehicle Details </div>
        <div class="color-6"> Vehicle Details </div>
        <div class="color-7"> Vehicle Details </div>
        <div class="color-8"> Vehicle Details </div>
        <div class="color-9"> Vehicle Details </div>
        <div class="color-10"> Vehicle Details </div>
        <div class="color-11"> Vehicle Details </div>
        <div class="color-12"> Vehicle Details </div>
    </div>
</div>
