:host {

    .vehicle-model{
        font-family: 'Inter';
        width: 400px;
        margin: auto;
        .card{
            border-radius: 10px;
        }
        .card-header {
            background: linear-gradient(90deg, #9392C6 4.04%, #E2E2F7 100%), linear-gradient(90deg, #7EA3D1 4.04%, #C1E8F7 100%), #0039CB;
            border-radius: 10px 10px 0px 0px;
            text-align: center;
            display: flex;
            width: 100%;
            padding: 10px 0px;
            align-items: center;
            justify-content: space-between;
            color: #FFFFFF;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            text-align: center;   
            
            .back-icon{
                padding-left: 10px;
            }
            .delete-icon{
                padding-right: 10px;
            }
        }
        .card-body {
            padding: 10px;
            font-weight: 700;
            font-size: 12px;
            color: #000000;
    
            .lable-text{
                color: #AAACAF;
                margin-right: 5px;
            }
        }
        .card-footer {
            padding: 0;
    
            button {
                background: #E5E5E5;
                border: none;
                padding: 10px;
                text-align: center;
                width: 50%;
                font-weight: 700;
                font-size: 13px;
            }
    
            .buy-plan{
                border-right: 2px solid #FFFFFF;
                border-radius: 0 0 0 10px;
            }
            .goto-service{
                border-radius: 0 0 10px 0;
            }
        } 
    }
}
.cdk-overlay-container .mat-dialog-container {
    padding: 0 !important;
}
@media (min-width:365px)  and (max-width:425px)  {
    .vehicle-model{
        width: 350px !important;
    }
}
@media screen and (max-width:365px) {
    .vehicle-model{
        width: 310px !important;
    }
    .card-body{
        font-size: 11px !important;
    }
}
.cdk-overlay-pane{
    width: 100vw;
}